<html lang = "en">
    <!--Head Tag-->
    <%- include('./partials/head.ejs')%>
    <body>
        <!-- Navigation Bar -->
        <%- include('./partials/intNav.ejs')%>
        <div class = "content">
            <img src = "/images/profilePic/pic.png" alt = "Interpreter"></i>
            <h1>Welcome <%= interpreter.interpreter_firstname%></h1>
            <p>Full Name: <%= interpreter.interpreter_firstname%> <%= interpreter.interpreter_lastname%></p>
            <p>Email: <%= interpreter.user_email%></p>
            <p>Phone Number: <%= interpreter.interpreter_phonenum%></p>
        </div>
        <!-- JavaScript file links -->
        <script src="js/scripts.js"></script>
    </body>
</html>