<html lang = "en">
    <!--Head Tag-->
    <%- include('./partials/head.ejs')%>
    <body>
        <!-- Navigation Bar -->
        <%- include('./partials/lecNav.ejs')%>
        <div class = "content">
            <img src = "/images/profilePic/pic.png" alt = "Lecturer"></i>
            <h1>Welcome, <%= lecturer.lecturer_firstname %></h1>
            <p>Full Name: <%= lecturer.lecturer_firstname%> <%= lecturer.lecturer_lastname%></p>
            <p>Email: <%= lecturer.user_email%></p>
            <p>Phone Number: <%= lecturer.lecturer_phonenum%></p>
        </div>
        <!-- JavaScript file links -->
        <script src="js/scripts.js"></script>
    </body>
</html>