<html lang="en">
    <!--Head Tag-->
    <%- include('./partials/head.ejs')%>
    <body>
        <!-- Navigation Bar -->
        <%- include('./partials/studNav.ejs')%>
        <div class = "content">
            <img src = "/images/profilePic/pic.png" alt = "Student"></i>
            <h1>Welcome, <%= student.student_firstname %></h1>
            <p>Full Name: <%= student.student_firstname%> <%= student.student_lastname%></p>
            <p>Email: <%= student.user_email%></p>
            <p>Phone Number: <%= student.student_phonenum%></p>
        </div>
        <!-- JavaScript file links -->
        <script src="js/scripts.js"></script>
</html>